@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-primary: #C41E3A;
  --color-secondary: #0A0A0A;
  --color-accent: #D4AF37;
  --color-border: #1A1A1A;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
